<h2>{{ titulo }}</h2>

<h3>Buscar producto por nombre</h3>
<input type="search" [(ngModel)]="nombreBuscar" (ngModelChange)="buscarProductoPorNombre()" />

<div *ngIf="nombreBuscar">
  <ul *ngIf="productoPorNombre">
    <li *ngFor="let producto of productoPorNombre">
      Nombre: {{ producto.name }} Categoria: {{ producto.category }}
    </li>
  </ul>
</div>

<h3>Buscar por categoria</h3>
<input type="search" [(ngModel)]="categoria" (ngModelChange)="buscarProductosPorCategoria()" />

<div *ngIf="categoria">
  <h4 >Articulos de la categoria {{ categoria }}</h4>
  <ul *ngIf="productosPorCategoria">
    <li *ngFor="let producto of productosPorCategoria">
      Nombre: {{ producto.name }} Categoria: {{ producto.category }}
    </li>
  </ul>
</div>

<hr />

<h3>Lista de todos los  productos</h3>
<ul *ngIf="productos">
  <li *ngFor="let producto of productos">
    Nombre: {{ producto.name }} Categoria: {{ producto.category }}
  </li>
  <span *ngIf="!productos">Cargando lista de productos...</span>
</ul>
