*{
  text-decoration: none;
}
label{
  padding: 20px;
}

.fondoAzul
{
  background-color:lightblue !important;
}

.fondoVerde{
  background-color: lightgreen !important;
}


#content{
	margin-top:30px;
	border-radius: 2px;
	background: white;
	box-shadow: 0px 2px 5px #ccc;
	padding: 0px;
	overflow: hidden;
}

#header{
	background: #E03137;
	color: white;
	margin:0px;
	height: 90px;
	line-height: 90px;
}

#header h1{
	display: block;
	line-height: 50px;
	font-weight: bold;
	font-size: 30px;
}

#nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  background: rgba(224, 49, 55, 0.67);

}

#nav a {
  color: black;
  text-decoration: none;
  transition: all 0.5s;
}

#nav a:hover {
  background-color: white; /* Cambia el color del texto a rojo cuando se pasa el ratón por encima */
  color:red
}


.activado{
  font-weight: bold;
	text-decoration: none !important;
	border-bottom:4px solid yellow !important;
}

#main .jumbotron{
	padding: 50px;
	margin-top: 30px;
	border-radius: 5px;
}

#footer{
	margin-top:30px;
	padding-top: 10px;
	border-top:1px solid #eee;
  background-color: lightgrey;
	color: rgb(128, 128, 128);
}

#form-producto label{
	margin-top: 10px;
}

.imagen_container{
	width: 100%;
	overflow: hidden;
}

.producto_imagen{
	/*width: 100%;*/
	height: 200px;
	margin: 0px auto;
	display: block;
}

.imagen_relleno{
	background: #ccc;
	width: 100%;
	height: 200px;
}
